<div class="container">
  <form [formGroup]="form">
    <h1 class="title h1">Iniciar Sesión</h1>
    <span style="margin-top: 24px;"></span>
    <input class="inputs" placeholder="Dirección de correo electrónico" type="email" matInput placeholder="Dirección de correo electrónico" formControlName="email">
    <span style="margin-top: 12px;"></span>
    <input class="inputs" type="password" matInput placeholder="Contraseña" formControlName="password">
    <span style="margin-top: 42px;"></span>



    <button class="btnGoogle buttonsLogin" mat-button (click)="this.authSvc.loginWithGoogle()">Continuar con Google<img src="assets/images/icons/iconGoogle.svg"  [hspace]="10"></button>
    <span style="margin-top: 12px;"></span>
    <button class="btnGitHub buttonsLogin" mat-button (click)="loginGithub()">Continuar con GitHub<img src="assets/images/icons/iconGitHub.svg" [hspace]="10"></button>
    <span style="margin-top: 12px;"></span>
    
    <div class="submit">
      <button class="button" type="button" mat-button (click)="login()">Siguiente</button>
    </div>
  </form>
</div>
<hr>
<div class="container-prueba">
  <p>¿No tienes una Cuenta? <a class="link" href="/register">Regístrate</a></p>
</div>
